html { 
    background: url(https://images.unsplash.com/photo-1646748019039-e908f7e41282?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8dHJhdmVsJTIwYmVhY2h8ZW58MHx8MHx8fDA%3D) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0;
    margin: 0;
  }

body {
    padding: 0;
    margin: 0;
    font-family: "Lato", sans-serif;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #157e95;
    color: white;
    height: 60px;
    padding: 8px 16px;
    font-size: 20px;
    position: fixed;
    top: 0;
    box-sizing: border-box;
    width: 100%;
}

.logo {
    font-size: 30px;
}

.logo-pic {
    padding: 4px;
}

.nav-items {
    display: flex;
    width: 30%;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    color: white;
    text-decoration: none;
}

.nav-item:hover {
    font-size: 24px;
}

.search-container {
    display: flex;
    align-items: center;
    border-radius: 25px;
    padding: 4px 8px;
    background-color: white;
    width: 280px;
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.search-input {
    border: none;
    outline: none;
    padding: 8px;
    flex: 1;
    border-radius: 25px;
}

.search-container-button {
    border: none;
    background-color: transparent;
    color: #157e95;
    padding: 8px;
    cursor: pointer;
}

.search-container-button:hover {
  color: #26a5c9;
}

.search-container-button:focus {
    outline: none;
}

.media {
    position: fixed;
    top: 40%;
    display: flex;
    flex-direction: column;
    width: 40px;
    height: 160px;
    left: 20px;
    align-items: center;
    justify-content: space-between;
}

.media-item {
    cursor: pointer;
    color: white;
    font-size: 24px;
}

.media-item:hover {
    font-size: 30px;
}

.main {
    margin: 90px 90px 30px 180px;
}

.page-title {
    color: white;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 48px;
    line-height: 60px;
    margin-top: 60px;
}

.page-text {
    color: white;
}