.search-container {
    display: flex;
    align-items: center;
    border-radius: 25px;
    padding: 4px 8px;
    background-color: white;
    width: 280px;
}

.search-input {
    border: none;
    outline: none;
    padding: 8px;
    flex: 1;
    border-radius: 25px;
}

.search-container-button {
    border: none;
    background-color: transparent;
    color: #157e95;
    padding: 8px;
    cursor: pointer;
}

.search-container-button:hover {
  color: #26a5c9;
}

.search-container-button:focus {
    outline: none;
}

.page-title-home {
    width: min-content;
    margin-top: 240px;
}

.page-text-home {
    margin-right: 50%;
}